<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail</title>
</head>
<body>
    {% extends 'telegram/main.html' %}
    {% block content %}
    <h2>{{ object.title }}</h2>
    <p>Description: {{ object.description }} </p>
    <p>Followers: {{ object.number_followers }} </p>
        {% if request.user not in followers %}
            <button class="btn btn-primary" onclick="window.location.href='{% url 'join' pk=object.pk %}';">
              Join
            </button>
        {% else %}
            <button class="btn btn-primary" onclick="window.location.href='{% url 'group_chat' pk=object.pk %}';">
              Chat
            </button>
        {% endif %}
        {% if request.user == object.owner %}
            <button class="btn btn-danger" onclick="window.location.href='{% url 'delete_group' pk=object.pk %}';">
             Delete
            </button>
        {% endif %}
    <hr />
    <button class="btn btn-secondary" onclick="window.location.href='{% url 'groups' %}';">
      Back
    </button>
    {% endblock %}
</body>
</html>